body{
    background-color:#18aaa0; 
}

.container {
    border-style: solid;
    border-radius: 10px;
    background-color:#111e52 ;
    color:white;
    padding: 10rem;
    font-weight: bold;
   
}

.draggable {
    margin:30px;
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
}

.data {
    background-color: hsla(201, 100%, 6%, 0.5);
    padding:20px 40px;
    width: 90%;
    margin:20px;
    margin-left:50px;
    border-radius:10px;
    /* display: flex; */
    align-items: center;
}

input{
    font-size: 1.5em;
    padding: .5em .25em;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: white;
    width:80%;
    font-weight: lighter;
    margin-left:50px;
}

.table {
    text-align: center;
    border-style: solid;
}

button {
    padding: 10px 30px;
    border-radius: 5px; 
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    /* margin-top: 20px; */
    margin:20px;
    cursor: pointer;
    text-decoration:none;
}

button:hover {
    background-color: hsla(201, 100%, 50%, 0.3)
}

button:focus {
    background-color: hsla(201, 100%, 50%, 0.5)
}

th{
    color:white;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    font-weight: bold;
    color:greenyellow;
}

h5{
    color:indianred;
}