<body>
    <div class="container mt-5">
      <h2>Welcome to Employee Dashboard!</h2>

      <div class="data">
        <p className="draggable">Your Name : {{Name}}</p>
        <p className="draggable">Your Employee ID : {{ID}}</p>
        <p className="draggable">Your Department : {{Department}}</p>
        <p className="draggable">Your Email : {{Email}}</p>
        <p className="draggable">Your Password : {{Password}}</p>
      </div>

          <div class="data">
            <div id="box"  [ngStyle]="{'display': (isClicked==false) ? 'none' : 'block'}">
            <input type="text" placeholder="EmpName.." [(ngModel)]="Name" required><br><br>
            <input type="text" placeholder="EmpId.."  [(ngModel)]="ID" required><br><br>
            <input type="text" placeholder="EmpDept.."  [(ngModel)]="Department" required><br><br>
            <input type="text" placeholder="ManualEmail.." [(ngModel)]="Email" required><br><br>
            <input type="text" placeholder="ManualPass.."  [(ngModel)]="Password" required> 
            </div>
            <div class="buttons">
              <button (click)="edit()" class="btn btn-danger">Edit Details</button>
              <button (click)="update()" class="btn-btn-danger">Confirm</button> 
          </div>
          </div>
          </div>

    
  </body>

