<body>
    <div class="container mt-5">
      <h2>Welcome to Employee Dashboard!</h2>
          <ul>
            <li>
              <h5>Employee Name</h5>
              <h4>{{Name}}</h4>
            </li>
            <li>
              <h5>Employee ID</h5>
              <h4>{{ID}}</h4>
            </li>
            <li>
              <h5>Employee Department</h5>
              <h4>{{Department}}</h4>
            </li>
          </ul>
        
      <td><button class="btn btn-primary btn-lg">Edit</button></td>
  
    </div>
  </body>

