<body>
    <div class="full-screen-container">
      <div class="login-container">
        <h1 class="login-title"> LOGIN </h1>
        <div class="input-group">

          <label for="empname">Email</label>
          <input type="text" [(ngModel)]="adminEmail" required>

          <label for="password" >Password</label>
          <input type="password" [(ngModel)]="adminPass" required>

          <button type="submit" (click)="login()" class="btn btn-danger mt-5">Enter Details</button>
        </div>
      </div>
    </div>
</body>
