body{
    background-color:#18aaa0; 
}

.container {
    border-style: solid;
    border-radius: 10px;
    background-color:#111e52 ;
    color:white;
    padding: 10rem;
    font-weight: bold;
   
}

h1{
    margin:40px;
}

.data {
    background-color: hsla(201, 100%, 6%, 0.5);
    padding:20px 40px;
    width: 90%;
    margin:20px;
    /* margin-left:50px; */
    border-radius:10px;
    align-items: center;
}

.draggable {
    margin:30px;
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
}

button {
    padding: 10px 30px;
    border-radius: 5px; 
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    /* margin-top: 20px; */
    margin:20px;
    cursor: pointer;
    text-decoration:none;
}

button:hover {
    background-color: hsla(201, 100%, 50%, 0.3)
}

button:focus {
    background-color: hsla(201, 100%, 50%, 0.5)
}